<p class="notice">
 <%= flash[:notice] %>
</p>

<p>
 <strong>Title: </strong>
 <%= @book.title %>
</p>

<p>
<strong>Body: </strong>
<%= @book.body %>
</p>

 <a href="edit">Edit</a>
 |
 <a href="/books">Back</a>